<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windows10.ltd_learning">
     
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mActivity.CourseDetail"></activity>
        <activity android:name=".mActivity.AddRatingActivity"></activity>
        <activity android:name=".mActivity.CourseDetailForMyCourse"></activity>
        <activity android:name=".mActivity.PdfActivity"></activity>
        <activity android:name=".mActivity.CommentActivity"></activity>
        <activity android:name=".mActivity.RepliedCommentActivity"></activity>
        <activity android:name=".mActivity.ImageDialog" android:theme="@style/myDialogTheme" />
        <activity android:name=".mActivity.FullScreenVideoActivity"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".mActivity.UploadPictureActivity"></activity>

    </application>

</manifest>